// _navbar.scss

ul.slackNav {
  list-style-type: none;
  padding: 20px;
}

ul.channel-list {
  padding-inline-start: 0px;
}

.channel-list {
  color: white;
  list-style-type: none;
}

.channel-list li {
  cursor: pointer
}
