@import '../styles/variables';

body {
  background-color:rgb(252, 249, 245);
}

.App {
  margin-left: 260px;
  margin-top: 50px;
}

.greeting {
  color: $purple;
}

#logo-img {
width: 200px;
margin: 0;
}

.sideNav {
  height: 100%; 
  width: 250px; 
  position: fixed; 
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color:  $purple;
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;
}

.nav-item {
  // padding: 6px 8px 6px 16px;
  text-decoration: none;
  list-style: none;
  font-size: 25px;
  color: #FFFFFF;
  display: block;
}

ul {
  list-style: none;
  margin: 0px;
}
#home-link.nav-link {
  padding: 0px;
}
#logOutBtn {
  position:fixed;
  bottom: 10px;
  background-color: $green;
}

#logInBtn {
  position:fixed;
  bottom: 10px;
  background-color: $yellow;
}

#message-card {
  border: none;
  width: 60rem;
}

#message-text {
  margin-top: 10px;
  color: $purple;
}

#user-info {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
}

#user-img {
  height: 50px;
  width: 50px;
  border-radius: 100%;
  margin-right: 5px;
}

#delete-btn {
  background-color: $purple;
  margin: 3px;
}

#edit-btn {
  background-color: $purple;
  margin: 3px;
}

#form {
  width: 60rem;
  margin-top: 10px;
  margin-bottom: 10px;
}

#submit-btn {
  background-color: $purple;
}
